*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 10px;
}

h1, #country-name{
    text-align: center;
    width: 100%;
}
.main{
    display: grid;
    grid-template: 60% 20% / 1fr 1fr; 
    gap: 20px;  
    padding: 20px;
}
.map-area{     
    grid-area: 1/1/3/2;
    overflow: auto;
    border: 2px solid green;    
}
.map{
    min-width: 80%;
}

.flag-place{
    grid-area: 1/2/2/3;
    background: whitesmoke;
    overflow: hidden;
}

.test-btn{
    grid-area: 2/2/3/3;
}
.test-btn a{
    text-decoration: none;
}

#btn{
    display: block;
    width: 90%;
    height: 90%;
    margin: auto;
    background: green;
    color: white;
    font-size: xx-large;
    font-weight: bolder;    
}
#flag-image{
    display: block;
    max-width: 80%;
    margin: auto;
}

@media screen and (max-width: 800px) {
    .main{
        display: grid;
        grid-template: 30% 40% 10% / 1fr; 
        gap: 10px;  
    }
    .map-area{     
        grid-area: 2/1/3/2;   
    }
    .flag-place{
        grid-area: 1/1/2/2;
    }
    
    .test-btn{
        grid-area: 3/1/4/2;
    }

  }